body,html {
    height:100%;
    margin:0px;
}

/*setting the page first layout*/
#head{
    height:20%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#body{
    height:75%;
    display: flex;
    justify-content: stretch;
    padding: 50px 250px;
}
#foot{
    height:5%;
}
/*-setting the body*/
.eraseT{
    width: 20%;
    height:31%;
    /*positioning-*/
    margin-bottom: 60%;
    margin-top:10%;
    /*-positioning*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:50px;
    border: 3px;
    border-color: black;
}
    /*--setting the(.eraseT) Erasing Tool*/
    #eraser,#clean {
        width:100px;
        height:50px;
        border-radius: 10%;
        text-align: center;
    }
.boardpres{
    width:65%;
    display: flex;
    flex-direction: column;
    border: 3px;
    border-color: black;
    padding: 20px;
}
    #resolution{
        height:10%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #board{
        height:90%;
    }
    #sketchboard{
        height:100%;
        width:100%;
        border:3px;
        border-style: solid;
        border-color: black;
    }
.colorT{
    width:15%;
    height:31%;
    /*positioning-*/
    margin-bottom: 65%;
    margin-top:4%;
    /*-positioning*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 3px;
    border-color: black;
}
    /*--setting the(colorT) Coloring Tool*/
    #sColor{
        border-radius: 30%;
        width: 100px;
        height: 100px;
    }
    #colorToggle{
        width:50px;
        height:50px;
        border-radius: 50%;
    }
    
